.clearfix::after { content: ""; clear: both; display: table; }
.clearfix > .left { float: left }
body { font-family: 'Segoe UI'; margin: 0; padding: 0; }
h1.title { 
    padding: 9px 30px;
    background-color: #478eca;
    color: white;
    text-shadow: 1px 1px 0px black;
}
ul, li { padding: 0; margin: 0; list-style-type: none; }
.tags { margin: 0 50px; width: 60%; }
.tag {
    float: left;
    width: 280px;
    padding: 40px 20px;
    margin: 10px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #000;
    text-align: center;
    border: 1px solid #fff;
}
.tag.present { border-color: #14d800; box-shadow: 0px 0px 7px #18af18; }
.tag .name { font-size: 25px }
.tag .fname, .tag .lname { margin: 3px }
.tag .uid { color: #a5a5a5; font-size: 80%;  margin-top: 5px; }
.ws-status { margin: 30px; }
.ws-status .ico {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.ws-status.opened { color: green; }
.ws-status.opened .ico { background-color: green; }
.ws-status.closed { color: red; }
.ws-status.closed .ico { background-color: red; }